* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

.section-header {
  text-align: center;
  padding: 10px 10px;
  color: white;
  background-color: #6ba292;
  margin: 0 auto;
  width: 100%;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}